<div id="dialog-box">
    <h2 mat-dialog-title id="title">{{ data.title }}</h2>
    <mat-dialog-content class="messages-container">
        @for (message of data.messages; track message){
        <app-simple-dialog-message [message]="message"></app-simple-dialog-message>
        }
    </mat-dialog-content>
    @if(data.itemSwap){
        <div class="swap-item-container">
            <div class="pickedup-item-container">
                <img class="pickedup-item" [src]="data.itemSwap.pickedUpItem.image" alt="picked-up-item">
            </div>
            <div class="inventory-item-container">
                <img class="inventory-item" [src]="data.itemSwap.currentItem1.image" alt="inventory-item1" (click)="swapItems(true, data.itemSwap)">
                <img class="inventory-item" [src]="data.itemSwap.currentItem2.image" alt="invertory-item2" (click)="swapItems(false, data.itemSwap)">
            </div>
        </div>
    }
    <mat-dialog-actions class="dialog-actions">
        <button class="button" mat-button (click)="onClose()">{{ data.confirm ? options[0] : 'Fermer' }}</button>
        <button *ngIf="data.confirm" class="button" mat-button (click)="onCancel()"> {{ options[1] }}</button>
    </mat-dialog-actions>
</div>
