#dialog-box {
    background: linear-gradient(to left, rgb(49, 45, 34), rgb(79, 73, 62));
    color: white;
}

#title {
    font-family: papyrus;
    font-weight: 900;
    text-align: center;
    color: black;
    height: 1%;
    font-size: 20px;
    background: linear-gradient(to left, rgb(138, 135, 93), rgb(164, 156, 113) 25%, rgb(224, 216, 173) 75%, rgb(124, 121, 83) 100%);
    margin-top: -1%;
}

.dialog-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    font-weight: 900;
    font-family: 'Papyrus';
    background: linear-gradient(to right, rgb(164, 156, 113), rgb(224, 216, 173));
}

.button:hover {
    color: white;
    background: linear-gradient(to right, rgb(93, 89, 64), rgb(122, 118, 94));
}

.messages-container {
    margin-top: 3%;
}

.input-container {
    text-align: center;
}

#dialog-input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgb(138, 135, 93);
    border-radius: 5px;
    background: linear-gradient(to left, rgb(224, 216, 173), rgb(164, 156, 113));
    color: white;
    font-size: 16px;
    font-family: 'Papyrus', sans-serif;
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#dialog-input:focus {
    outline: none;
    border-color: rgb(224, 216, 173);
    box-shadow: 0 0 10px rgba(224, 216, 173, 0.8);
    background: linear-gradient(to left, rgb(164, 156, 113), rgb(138, 135, 93));
}

#dialog-input::placeholder {
    color: rgb(93, 89, 64);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}
