<body>
    <div class="dialog-content">
        <p>Choisir un mode de jeu:</p>
        <div class="button">
            <button>Classique</button>
            <button disabled>CTF</button>
        </div>
        <p>Choisir la taille du jeu:</p>
        <div class="gameSize">
            <button>10x10</button>
            <button>15x15</button>
            <button>20x20</button>
        </div>

        <div class="options">
            <button mat-button (click)="close()">Annuler</button>
            <button mat-button (click)="changePage()">Création</button>
        </div>
    </div>
</body>
