<div #entireMap id="map-grid" [style.grid-template-columns]="'repeat(' + gridSize + ', 1fr)'" (mouseleave)="onMouseUp()">
    @for (row of tilesGrid; let rowIndex = $index; track $index) { @for (col of row; let colIndex = $index; track $index) {
    <div
        class="tile"
        [id]="'tile-' + rowIndex + '-' + colIndex"
        (mousedown)="onMouseDown($event, rowIndex, colIndex)"
        (mouseup)="onMouseUp()"
        (mousemove)="onMouseMove(rowIndex, colIndex)"
        (contextmenu)="removeOnRightClick($event, rowIndex, colIndex)"
        (drop)="onDrop($event, rowIndex, colIndex)"
        (dragover)="onDragOver($event)"
        (click)="navigateToTile(rowIndex, colIndex)"
    >
        <img
            class="tile-image"
            [src]="tileService.getTileImage(col)"
            (mouseover)="findPath(rowIndex, colIndex)"
            (click)="navigateToTile(rowIndex, colIndex)"
            draggable="false"
        />
        @if(objectsArray[rowIndex][colIndex] > 8){
        <img
            class="player-on-spawn-points"
            [src]="getObjectImage(objectsArray[rowIndex][colIndex])"
            draggable="true"
            (dragstart)="onDragStart($event, rowIndex, colIndex)"
        />
        } @else if(objectsArray[rowIndex][colIndex] < 9) {
        <img
            class="overlay-object"
            [src]="getObjectImage(objectsArray[rowIndex][colIndex])"
            draggable="true"
            (dragstart)="onDragStart(rowIndex, colIndex)"
        />
        } @if (isReachableTile(rowIndex, colIndex)) {
        <div class="reachable-tile" (mouseover)="findPath(rowIndex, colIndex)"></div>
        } @if (isOnFastestPath(rowIndex, colIndex)) {
        <div class="fastest-path-tile" (click)="navigateToTile(rowIndex, colIndex)"></div>
        }
    </div>
    } }
</div>
