.active {
    border: 2px solid white;
}

.inactive {
    border: hidden;
}

button {
    font-family: 'Franklin Gothic Medium';
    background: linear-gradient(to bottom right, #fed876, #b39134);
    width: 100%;
}
