// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
            accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
            warn: mat.m2-define-palette(mat.$m2-red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    height: 100%;
    font-family: papyrus;
}

.text {
    font-family: papyrus;
}

.background-image {
    min-height: 100vh;
    min-width: 100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/backgrounds/title_page_bgd11.jpg');
}
