<div class="player-stats">
    <div>
        <p id="player-name">{{ playerInfo.name }}</p>
    </div>
    <div id="photo-container">
        <div id="player-image-container">
            <img id="portrait" src="{{ playerInfo.portrait }}" />
        </div>
        <div id="player-attributes">
            <div id="hp-bar-container"> 
                <progress id="hp-bar" value="{{ playerInfo.currentHp }}" max="{{ playerInfo.hp }}"></progress>
                <div class="individual-stat" id="hp-value"> {{ playerInfo.currentHp }} / {{ playerInfo.hp }}</div>
            </div>

            <div id="stats">

                <div class="individual-stat" id="speed">Rap : {{ playerInfo.speed }}</div>
                <div class="individual-stat" id="attack">
                    Att : {{ playerInfo.attack }} 
                    @if (playerInfo.atkDice === 4) {
                        <img class="stats-dice" src="/assets/images/icones/D4.png" />
                    }
                    @else{ 
                        <img class="stats-dice" src="/assets/images/icones/D6.png/" />
                    }
                </div>
                <div class="individual-stat" id="defense">
                    Def : {{ playerInfo.defense }} 
                    @if (playerInfo.defDice === 4) {
                        <img class="stats-dice" src="/assets/images/icones/D4.png/" />
                    }
                    @else {
                        <img class="stats-dice" src="/assets/images/icones/D6.png/" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="movement-points">
        <p class="points-text">mouvements: </p>
        @for (movementPoint of movementPointsArray; track $index) {
            <div class="movement-point"></div>
            <!-- <img class="movement-images" src="/assets/images/icones/MovementPointsIcon.png/" id="$index" /> -->
        }
    </div>
    <div id="movement-points">
        <p class="points-text">actions: </p>
        @for (movementPoint of movementPointsArray; track $index) {
            <div class="movement-point"></div>
            <!-- <img class="movement-images" src="/assets/images/icones/MovementPointsIcon.png/" id="$index" /> -->
        }
    </div>
    <div class="player-inventory">
        <h4 id="inventory-header">Inventaire</h4>
        <div id="items-container">
            @for (items of playerInfo.inventory; track $index) {
                <app-game-object class="player-items" imageUrl="{{ items.image }}" description="{{ items.description }}"></app-game-object>
            }
        </div>
    </div>
</div>
