<div class="player-stats">
    <div>
        <p id="player-name">{{ player.name }}</p>
    </div>
    <div id="photo-container">
        <div id="player-image-container">
            <img id="portrait" src="{{ player.avatar }}" />
        </div>
        <div id="player-attributes">
            <div id="hp-bar-container">
                <progress
                    id="hp-bar"
                    value="{{ player.attributes.currentHp }}"
                    max="{{ player.attributes.totalHp }}"
                    #hpBar
                ></progress>
                <div class="individual-stat" id="hp-value">{{ player.attributes.currentHp }} / {{ player.attributes.totalHp }}</div>
            </div>

            <div id="stats">
                <div class="individual-stat" id="speed">Rap : {{ player.attributes.speed }}</div>
                <div class="individual-stat" id="attack">
                    Att : {{ player.attributes.attack }}
                    @if (player.attributes.atkDiceMax === 4) {
                    <img class="stats-dice" src="/assets/images/icones/D4.png" />
                    } @else{
                    <img class="stats-dice" src="/assets/images/icones/D6.png/" />
                    }
                </div>
                <div class="individual-stat" id="defense">
                    Def : {{ player.attributes.defense }}
                    @if (player.attributes.defDiceMax === 4) {
                    <img class="stats-dice" src="/assets/images/icones/D4.png/" />
                    } @else {
                    <img class="stats-dice" src="/assets/images/icones/D6.png/" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="movement-points">
        <p class="points-text">mouvements:</p>
        @for (movementPoint of movementPointsArray; track $index) {
        <div class="movement-point"></div>
        <!-- <img class="movement-images" src="/assets/images/icones/MovementPointsIcon.png/" id="$index" /> -->
        }
    </div>
    <div id="action-points">
        <p class="points-text">Action:</p>
        @for (actions of actionPointsArray; track $index) {
        <div class="action-point"></div>
        }
    </div>
    <div class="player-inventory">
        <h4 id="inventory-header">Inventaire</h4>
        <div id="items-container">
            @for (items of player.attributes.inventory; track $index) {
            <app-game-object
                class="player-items"
                [name]="items.name"
                [imageUrl]="items.image"
                [description]="items.description"
                [descriptionPosition]="descriptionPosition"
            ></app-game-object>
            }
        </div>
    </div>
</div>
