#portrait {
    height: 25%;
    width: 25%;
}

// .player-stats {
//     display: flex;
//     flex-wrap: wrap;
// }

// .player-info-element {
//     margin: 0;
//     padding: 0;
// }

.player-inventory {
    display: flex;
    width: 100%;
    height: 20%;
}

.player-items {
    height: 40%;
    width: 40%;
    border: 2px solid white;
}

progress {
    position: relative;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 50%;
}

progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;

    position: absolute;
    left: 0;
    right: 0;
}

progress::-moz-progress-bar {
    background: rgb(138, 9, 9);
}

progress::-webkit-progress-value {
    background: rgb(138, 9, 9);
}

#hp-value {
    position: absolute;
    display: inline-block;
    color: black;
    z-index: 150;
    text-align: center;
    left: 10rem;
}

#movement-points {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.movement-images {
    height: 7.5%;
    width: 7.5%;
    display: block;
    margin: 0;
    margin-top: 2%;
    margin-right: 1%;
    padding: 0;
}

.individual-stat {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.stats-dice {
    display: block;
    margin: 0;
    padding: 0;
    scale: 0.25;
}
