<div class="page-element">
    <div class="left-container">
        <div class="player-bar">
            <app-player-info-inventory class="player-bar"></app-player-info-inventory>
        </div>
        <div class="action-container">
            <p class="action-text">Action</p>
            <div class="button-outer action-outer"
                [class.selected]="isActionSelected" 
                (click)="toggleActionSelected()"
            >
                <div class="action-button"></div>
            </div>
        </div>
        <div class="chat">
            <p></p>
        </div>
        <div class="quit">
            <p>abandonner la partie</p>
        </div>
    </div>
    <div class="middle-container">
        <div class="game-info">
            <p id="grid-size">10x10</p>
            <p id="player-count">2 joueurs</p>
        </div>
        <div id="game-grid-background-gradient">
            <div class="grid-element" id="game-grid-container" #gameGrid>
                <app-game-grid
                    [selectedSize]="selectedSize"
                    [resetTrigger]="resetTrigger"
                    [saveTrigger]="saveTrigger"
                    [mapName]="mapName"
                    [mapDescription]="mapDescription"
                ></app-game-grid>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="timer">
            <app-timer>
            </app-timer>
        </div>
        <div class="players">
            @for (player of allPlayers; track player.id;){
            <app-ingame-players-sidebar [sidebarPlayer]="player"> </app-ingame-players-sidebar>
            }
        </div>
        <div>
            <p class="end-turn-text">Fin de tour</p>
            <div class="button-outer">
                <div class="end-turn-button-inner"></div>
            </div>
        </div>
    </div>
</div>
