html,
body {
    height: 100%;
}

.page-element {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(18, 18, 17), rgb(40, 36, 36) 50%, #514c3e);
    color: white;
}

.left-container {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.player-bar {
    flex: 0 0 50%;
    width: 90%;
    height: 18rem;
    margin-top: -10%;
    margin-bottom: -40%;
}

.action-container {
    flex: 0 0 5%;
    text-align: center;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}

.action-text {
    margin: 0;
    font-family: papyrus;
    font-weight: 900;
    font-size: 0.95rem;
}

.center-button {
    margin: 0.4rem;
}

.action-button {
    background-size: 101%;
    background-position: center;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    border: 0.15rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        transform 0.3s ease,
        background-image 0.3s ease;
}

.button-outer:hover .action-button {
    transform: scale(1.1);
}

.door-button {
    background-image: url('../../../assets/images/icones/door-button.jpg');
}

.attack-button {
    background-image: url('../../../assets/images/icones/action.png');
}

.chat {
    flex: 0 0 4%;
    width: 52.5%;
    margin-top: 15rem;
    margin-bottom: -3rem;
    margin-left: -38%;
}

.quit {
    text-align: center;
    flex: 0 0 5%;
    margin-top: -1rem;
    padding-top: 0.2rem;
    width: 75%;
    font-family: papyrus;
    font-weight: 900;
}

.quit:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(236, 231, 131, 0.8) 30%, rgba(250, 235, 119, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    color: black;
}

.middle-container {
    flex: 0 0 50%;
    height: 100%;

    transition:
        opacity 0.3s ease,
        filter 0.3s ease;
}

.grid-element {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container {
    flex: 0 0 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    height: 99vh;
}

.timer {
    flex: 0 0 10%;
    width: 80%;
    margin-bottom: 15%;
}

.players {
    flex: 0 0 50%;
    flex-direction: column;
    width: 95%;
}

.button-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: linear-gradient(to top right, rgb(39, 39, 39), rgb(88, 88, 88) 33%, rgb(162, 162, 162) 67%, rgb(220, 220, 220) 100%);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.end-turn-button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: url('../../../assets/images/icones/next-turn.png');
    background-size: cover;
    background-position: center;
    transition:
        transform 0.3s ease,
        background-image 0.3s ease;
}

.button-outer:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.6),
        0 0 25px rgba(255, 0, 0, 0.4);
}

.button-outer:hover .end-turn-button-inner {
    background-image: url('../../../assets/images/icones/next-turn-red.png');
    transform: scale(1.1);
}

.button-outer:hover .end-turn-text {
    color: red;
}

.game-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 80%;
    height: 5%;
    margin: 2% auto;
    font-family: papyrus;
    font-weight: bold;
}

.end-outer {
    margin-bottom: 1rem;
}

#turn-start-timer {
    background-image: linear-gradient(to top, rgb(18, 18, 17), rgb(40, 36, 36) 50%, #514c3e);
    padding: 2rem;
    border-radius: 3rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: papyrus;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: -3%;
    height: 25%;

    z-index: 999;
}

#enabled {
    pointer-events: all;
}

.disabled {
    pointer-events: none;
}

.button-outer.disabled > div {
    pointer-events: none;
    filter: grayscale(60%) brightness(75%);
}
