<div id="map-grid" [style.grid-template-columns]="'repeat(' + height + ', 1fr)'" (mouseleave)="onMouseUp()">
    @for (row of gridArray; let rowIndex = $index; track $index) { @for (col of row; let colIndex = $index; track $index) {
    <div
        class="tile"
        [id]="'tile-' + rowIndex + '-' + colIndex"
        (mousedown)="onMouseDown($event, rowIndex, colIndex)"
        (mouseup)="onMouseUp()"
        (mousemove)="onMouseMove(rowIndex, colIndex)"
        (contextmenu)="removeTile($event, rowIndex, colIndex)"
        (drop)="onDrop($event, rowIndex, colIndex)"
        (dragover)="onDragOver($event)"
    >
        <img class="tile-image" [src]="getTileImage(col)" draggable="false" />
        @if(objectsPosition[rowIndex][colIndex] > 0) {
        <img class="overlay-object" [src]="getObjectImage(objectsPosition[rowIndex][colIndex])" draggable="true" />
        }
    </div>
    } }
</div>
