#map-grid {
    height: 85.5vh;
    display: grid;
}

.tile {
    border: solid 1px black;
    font-size: 0;
    position: relative;
}

.tile img {
    position: absolute;
    object-fit: fill;
    display: block;
    width: 100%;
    max-height: 100%;
}
