<div class="popup">
    <div class="choice-info">
        <div class="choices">
            <div class="icons-container">
                @for( avatar of availableAvatars; track avatar.name){
                <div
                    class="icon"
                    [ngClass]="{
                        selected: avatar.isSelected,
                        'avatar-taken': avatar.isTaken
                    }"
                >
                    <img [src]="avatar.src" (click)="getClickedImage(avatar)" />
                </div>
                }
            </div>
        </div>
        <div class="character-info">
            <div class="name-container">
                <input
                    type="text"
                    [(ngModel)]="characterName"
                    placeholder="Nom de votre personnage"
                    maxlength="15"
                    minlength="1"
                    (keydown)="preventSpace($event)"
                    (input)="removeSpaces()"
                />
            </div>
            <div class="image-wrapper">
                <img class="decoration" [src]="'./assets/images/leaves/leafL.webp'" />
                @if(clickedAvatar) {
                <img class="selected-avatar" [src]="clickedAvatar.src" />
                } @else {
                <div class="no-avatar"></div>
                }
                <img class="decoration" [src]="'./assets/images/leaves/leafR.webp'" />
            </div>
            <div class="attributes-box">
                <div class="arrows-container">
                    <div class="attribute">
                        Vie
                        <div id="health-attribut" class="tooltiptext">
                            Les points de vie du personnage correspond à cet attribut. Augmentez la valeur de l'attribut vie ou rapidité de +2.
                        </div>
                    </div>
                    <div class="initial-value">{{ getAttributValue('totalHp') }}</div>
                    <button (click)="addHealth()" [disabled]="isButtonSelected('health')">+2</button>
                </div>
                <div class="arrows-container">
                    <div class="attribute">
                        Rapidité
                        <div class="tooltiptext">
                            Les point de rapidité servent à déterminer l’ordre des tours et correspond aussi aux points de mouvement par tour d’un
                            personnage. Augmentez la valeur de l'attribut vie ou rapidité de +2.
                        </div>
                    </div>
                    <div class="initial-value">{{ getAttributValue('speed') }}</div>
                    <button (click)="addSpeed()" [disabled]="isButtonSelected('speed')">+2</button>
                </div>
                <div class="arrows-container">
                    <div class="attribute">
                        Attaque
                        <div class="tooltiptext">
                            Les points d'attaque representent la force avec laquelle une attaque est faite sur l’adversaire. Choisissez un des
                            attributs attaque ou défense pour recevoir un bonus basé sur un dé à 6 faces ou à 4 faces.
                        </div>
                    </div>
                    <div class="initial-value">{{ getAttributValue('atkDiceMax') }}</div>
                    <button (click)="setAttack('attack4')" [disabled]="isButtonSelected('attack4')">+D4</button>
                    <button (click)="setAttack('attack6')" [disabled]="isButtonSelected('attack6')">+D6</button>
                </div>
                <div class="arrows-container">
                    <div class="attribute">
                        Defénse
                        <div class="tooltiptext">
                            Les points de défense représente la capacité à bloquer l’attaque d’un adversaire. Choisissez un des attributs attaque ou
                            défense pour recevoir un bonus basé sur un dé à 6 faces ou à 4 faces.
                        </div>
                    </div>
                    <div class="initial-value">{{ getAttributValue('defDiceMax') }}</div>
                    <button (click)="setDefense('defense4')" [disabled]="isButtonSelected('defense4')">+D4</button>
                    <button (click)="setDefense('defense6')" [disabled]="isButtonSelected('defense6')">+D6</button>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button (click)="closeComponent()">Retour</button>
        <button (click)="saveChoices()">Confirmer</button>
    </div>
</div>
