.popup {
    position: relative;
    display: flex;
    width: 80%;
    height: 90%;
    border-bottom: 8px black;
    border-right: 8px black;
    border-radius: 5%;
    background-image: linear-gradient(to top, rgb(18, 18, 17), rgb(40, 36, 36) 50%, #514c3e);
    position: absolute;
    bottom: 1%;
    left: 10%;
    z-index: 10;
}

.button-container {
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    justify-content: space-around;
}
.button-container button {
    margin: 10%;
    background: none;
    border: none;
    color: white;
    font-family: 'papyrus';
    font-size: 20px;
    flex: 1;
}

.button-container button:hover {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(236, 231, 131, 0.9) 30%, rgba(250, 235, 119, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    border: none;
    color: black;
    font-family: 'papyrus';
    font-size: 20px;
}

.choice-info {
    display: flex;
    flex-direction: row;
    height: 90%;
    padding: 20px;
}

.choices {
    max-width: 50%;
    height: 100%;
}

.character-info {
    flex: 2;
    margin-left: -10%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.attributes-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.arrows-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 10%;
    margin: 2%;
}

.arrows-container button {
    font-weight: bold;
    margin-left: auto;
    background-image: linear-gradient(to left, rgb(85, 88, 44), rgb(255, 249, 144));
    border: none;
    border-radius: 1rem;
    padding: 1% 3%;
}

.arrows-container button:disabled {
    color: black;
    border: 2px solid rgb(13, 32, 236);
}

.icons-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    margin-top: 0%;
    margin-left: 5%;
}

.icon {
    width: 20%;
    border-radius: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 4%;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black;
    position: relative;
    transition: transform 0.3s ease;
}

.attribute {
    width: 30%;
    font-weight: bold;
    font-family: papyrus;
    color: white;
    cursor: default;
}

.initial-value {
    color: rgb(207, 218, 123);
    max-width: 20%;
    text-align: center;
    flex-grow: 1;
    background: none;
    cursor: default;
    position: relative;
    display: inline-block;
}

.attribute .tooltiptext {
    visibility: hidden;
    width: 20%;
    background-image: linear-gradient(to left, rgb(85, 88, 44), rgb(255, 249, 144) 30%, rgb(255, 252, 186));
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -80%;
    left: 30%;
    transform: translateX(-50%);
    margin-left: 0;
}

.attribute:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.arrows-container button {
    max-width: 30%;
}
.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
}

.name-container input {
    // background-color: bisque;
    // width: 35%;
    // height: 100%;
    // color: black;
    // font-family: 'papyrus';
    // font-size: 20px;
    // text-align: center;

    background: none;
    color: white;
    border: 0.075rem solid rgb(255, 249, 144);
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin: 0;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

input::placeholder {
    color: rgb(255, 249, 144);
    opacity: 0.5; 
  }

.image-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.decoration {
    padding-top: 2.5rem;
    width: 27%;
    height: 80%;
}
.charactor-info img {
    max-width: 50%;
    height: 10%;
    max-width: 10%;
    max-height: 10%;
}

.icon:hover {
    border-bottom: 0.5rem solid rgb(255, 249, 144);
    border-right: 0.5rem solid rgb(255, 249, 144);
    transform: translateY(0.3rem);
}

.icon img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

button {
    cursor: pointer;
}

.selected {
    border-bottom: 0.5rem solid rgb(255, 249, 144);
    border-right: 0.5rem solid rgb(255, 249, 144);
    transform: translateY(0.3rem);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border 0.3s ease;
    box-shadow: 0 0 15px rgb(255, 249, 144);
}

.avatar-taken {
    filter: grayscale(100%) brightness(50%);
    pointer-events: none;
}

.avatar-taken img {
    cursor: default;
}

.avatar-taken:hover {
    transform: none;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black;
}

.selected-avatar,
.no-avatar {
    margin-top: 2.5rem;
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
}

.no-avatar {
    border: 1px solid rgb(255, 249, 144);
}
