<div class="popup">
    <div class="choices">
        <div class="icons-container">
            <div class="icon" *ngFor="let avatar of avatars">
                <img [src]="avatar.src" (click)="getClickedImage(avatar)" />
            </div>
        </div>
    </div>
    <div class="character-info">
        <div class="image-wrapper">
            <img [src]="clickedAvatar.src" />
        </div>
        <div class="attributes-box">
            <div class="arrows-container">
                <p class="attribute">health</p>
                <p class="initial-value">{{ getAttributsValue('health') }}</p>
                <button (click)="addHealth()">+2</button>
            </div>
            <div class="arrows-container">
                <p class="attribute">Vitesse</p>
                <p class="initial-value">{{ getAttributsValue('speed') }}</p>
                <button (click)="addspeed()">+2</button>
            </div>
            <div class="arrows-container">
                <p class="attribute">Attaque</p>
                <p class="initial-value">{{ getAttributsValue('attack') }}</p>
                <button>D4</button>
                <button>D6</button>
            </div>
            <div class="arrows-container">
                <p class="attribute">Defense</p>
                <p class="initial-value">{{ getAttributsValue('defense') }}</p>
                <button>D4</button>
                <button>D6</button>
            </div>

            <!--
                <div class="arrows-container" *ngFor="let attribute of attributes">
                <p>{{ attribute.attributeName }}</p>
                <i class="arrow left" (click)="setAttributsValue(-1, attribute.attributeName)"></i>
                <p>{{ getAttributsValue(attribute.attributeName) }}</p>
                <i class="arrow right" (click)="setAttributsValue(1, attribute.attributeName)"></i>
                -->
        </div>
    </div>
</div>
