app-tool-button {
    margin-top: 10%;
}

img {
    width: 40px;
    height: 40px;
}

.hidden-description-to-show {
    font-family: 'Franklin Gothic Medium';
    display: none;
    transition: opacity 0.3s ease;
    border-bottom: solid 6px black;
    border-right: solid 6px black;
    border-radius: 0.75rem;
    color: black;
    padding: 3%;
    background: linear-gradient(to right, rgba(89, 84, 31, 1), rgb(180, 164, 85) 25%, rgba(222, 207, 129, 1) 75%, rgba(89, 84, 31, 1) 100%);
    font-size: small;
    width: 20vh;
    height: 16vh;
}

#water-tool:hover + #water-tool-description {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: -12.9rem;
}

#ice-tool:hover + #ice-tool-description {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: -0.62rem;
}

#wall-tool:hover + #wall-tool-description {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: 11.6rem;
    height: 17vh;
}

#door-tool:hover + #door-tool-description {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: 24rem;
    height: 20vh;
}

app-tool-button {
    width: 100%;
}
