<div class="combat-modal">
    <app-temporary-dialog #temporaryDialog></app-temporary-dialog>
    <div class="top-section">
        <div class="player-info">
            <app-combat-stats-bar
                [playerInfo]="playerInfo1"
                [isOnRightSide]=false
                [isDamaged]="isPlayer1Damaged"
            ></app-combat-stats-bar>
        </div>
        <div class="timer-container">
            <app-timer
                [totalTime]="totalTime"
                [timeRemaining]="timeRemaining"
                [timerSize]="45"
                (closeTimer)="onTimerFinished()"
                #timer
            ></app-timer>
        </div>
        <div class="player-info">
            <app-combat-stats-bar
                [playerInfo]="playerInfo2"
                [isOnRightSide]=true
                [isDamaged]="isPlayer2Damaged"
            ></app-combat-stats-bar>
        </div>
    </div>
    <div class="middle-section">
        <div class="player-avatar-container" [ngClass]="{ 'damaged': isPlayer1Damaged }">
            <img class="player-img" src="{{ playerInfo1.portrait }}" alt="right player portrait" />
            <div class="damaged-overlay"></div>
        </div>
        <app-dice #dice2></app-dice>
        <app-dice #dice1></app-dice>
                
        <div class="player-avatar-container" [ngClass]="{ 'damaged': isPlayer2Damaged }">
            <img class="player-img" src="{{ playerInfo2.portrait }}" alt="right player portrait" />
            <div class="damaged-overlay"></div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="evasion-container">
            <div class="evasions-remaining">
                @for (evasion of evasionsArray; track $index) {
                    <div class="evasion-point"></div>
                }
            </div>
            <div>
                <p class="action-text">Évader</p>
                <div [ngClass]="{ 'disabled': this.currentPlayerTurn !== 1 }" class="button-outer end-outer" (click)="triggerEvade()">
                    <div class="end-turn-button-inner"></div>
                </div>
            </div>
        </div>
        <div class="display">
            <div class="display-text"> {{ displayText }}</div>
        </div>
        <div>
            <p class="action-text">Attaquer</p>
            <div [ngClass]="{ 'disabled': this.currentPlayerTurn !== 1 }" class="button-outer end-outer" (click)="triggerAttack()">
                <div class="end-turn-button-inner"></div>
            </div>
        </div>
    </div>
    <button class="close-button" (click)="closeModal()">X</button>
</div>
