<div class="combat-modal">
    <app-temporary-dialog #temporaryDialog></app-temporary-dialog>
    <div class="top-section">
        <div class="player-info left-player">
            
            <div class="player-attributes">
                <p class="player-name">{{ playerInfo1.name }}</p>
                <div class="hp-bar-container">
                    <progress 
                        class="hp-bar" 
                        value="{{ playerInfo1.currentHp }}" 
                        max="{{ playerInfo1.hp }}" 
                        #hpBar></progress>
                    <div class="individual-stat hp-value">{{ playerInfo1.currentHp }} / {{ playerInfo1.hp }}</div>
                </div>
                <div class="stats">
                    <div class="individual-stat speed">Rap : {{ playerInfo1.speed }}</div>
                    <div class="individual-stat attack">Att : {{ playerInfo1.attack }}</div>
                    <div class="individual-stat defense">Def : {{ playerInfo1.defense }}</div>
                </div>
            </div>
        </div>
        <div class="timer-container">
            <app-timer
                [totalTime]="5" 
                [timeRemaining]="5"
                [timerSize]="45"
                #timer
            ></app-timer>
        </div>
        <div class="player-info right-player">
            <div class="player-attributes">
                <p class="player-name" [ngClass]="{ 'damaged': isDamaged }">{{ playerInfo2.name }}</p>
                <div class="hp-bar-container">
                    <progress 
                        class="hp-bar" 
                        value="{{ playerInfo2.currentHp }}" 
                        max="{{ playerInfo2.hp }}" 
                        [ngClass]="{ 'damaged': isDamaged }"
                    #hpBar></progress>

                    <div class="individual-stat hp-value" [ngClass]="{ 'damaged': isDamaged }">{{ playerInfo2.currentHp }} / {{ playerInfo2.hp }}</div>
                </div>

                <div class="stats">
                    <div class="individual-stat speed">Rap : {{ playerInfo2.speed }}</div>
                    <div class="individual-stat attack">Att : {{ playerInfo2.attack }}</div>
                    <div class="individual-stat defense">Def : {{ playerInfo2.defense }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <img class="player-img" src="{{ playerInfo1.portrait }}" alt="left player portrait" />
        <app-dice #dice></app-dice>
        <app-dice></app-dice>
            
    <div class="player-avatar-container" [ngClass]="{ 'damaged': isDamaged }">
        <img class="player-img" src="{{ playerInfo2.portrait }}" alt="right player portrait" />
        <div class="damaged-overlay"></div>
    </div>
    </div>
    <div class="bottom-section">
        <div class="evasion-container">
            <div class="evasions-remaining">
                @for (evasion of evasionsArray; track $index) {
                    <div class="evasion-point"></div>
                }
            </div>
            <div>
                <p class="action-text">Évader</p>
                <div class="button-outer end-outer" (click)="triggerEvade()">
                    <div class="end-turn-button-inner"></div>
                </div>
            </div>
        </div>
        <div class="display">
            <div class="display-text"> {{ displayText }}</div>
        </div>
        <div>
            <p class="action-text">Attaquer</p>
            <div class="button-outer end-outer" (click)="triggerRollDice()" (click)="triggerAttack()">
                <div class="end-turn-button-inner"></div>
            </div>
        </div>
    </div>
    <button class="close-button" (click)="closeModal()">X</button>
</div>
