.image-container {
    position: relative;
    padding: 5%;
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    cursor: pointer;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: none;
    border-bottom: 0.25rem solid black;
    border-right: 0.25rem solid black;
}

.image-container img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(0.25rem);
    border: none;
}

.image-container:hover + .object-description-container {
    opacity: 1;
    display: inline-block;
}

.main-object-container {
    text-align: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
    width: 85%;
}

.object-count {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    font-family: Papyrus;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 28%;
    font-weight: bold;
}

.object-description {
    font-size: 0.8rem;
    margin: 0.5rem;
}

.object-description-container {
    position: absolute;
    font-family: 'Franklin Gothic Medium';
    transition: opacity 0.3s ease;
    top: 3%;
    right: 110%;
    width: 12rem;
    height: 7rem;
    display: none;
    border-bottom: solid 6px black;
    border-right: solid 6px black;
    border-radius: 0.75rem;
    color: black;
    padding: 10%;
    background: linear-gradient(to right, rgb(117, 112, 55), rgb(180, 164, 85) 25%, rgba(222, 207, 129, 1) 75%, rgb(124, 119, 59) 100%);
    z-index: 9999;
}

.object-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

.object-name {
    font-size: 1rem;
    margin: 0.5rem;
}

.object {
    position: relative;
}

.objects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.title {
    font-family: Papyrus;
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
}

.title:hover {
    color: rgb(222, 207, 129);
}
