<div class="player-stats">
    <div class="player">
        <img class="player-img" [src]="player.avatar" alt="player-avatar">
        <p> {{ player.name }} </p>
    </div>
    <p class="stat"> {{ player.combats }} </p>
    <p class="stat"> {{ player.victories }} </p>
    <p class="stat"> {{ player.evasions}} </p>
    <p class="stat"> {{ player.defeats }} </p>
    <p class="stat"> {{ player.dmgDealt }} </p>
    <p class="stat"> {{ player.dmgTaken }} </p>
    <p class="stat"> {{ player.itemsObtained }} </p>
    <p class="stat"> {{ player.tilesVisited }} </p>
</div>
