.player-stats {
    display: flex;
    align-items: center;
    width: 73vw;
    border-top: 0.08rem solid gray;
}

.player {
    flex: 1 1 17%;
    display: flex;
    margin-left: 3%;
    align-items: center;
}

.player-img {
    height: 4.5rem;
    width: 4.5rem;
    margin: 3%;
    margin-right: 10%;
    border-radius: 1.5rem;
}

.stat {
    text-align: center;
    flex: 1 1 5%;
    
    align-items: center;
    flex-direction: center;
}

.highlight {
    color: rgb(255, 240, 152);
    font-size: 1.2rem;
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.active {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(255, 240, 152, 0.1), rgba(255, 240, 152, 0.12))
}

.decoration {
    width: 2rem;
    height: 3rem;
}

.name {
    text-align: center;
}

.status-disconnected {
    color: rgb(171, 171, 171);
    text-decoration: line-through;
    filter: grayscale(100%);
}

.status-admin {
    color: #f95e4d;
}

.status-bot {
    color: cyan;
}