<div class="background-image justified">
    <h1 class="header-item"></h1>
    <img class="game-logo" src="./assets/images/logo/Age_Of_Mythology.png" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <div class="justified title-pg-links">
            <p class="button" routerLink="/game-creation">Créer une partie</p>
            <p class="button" routerLink="/administration">Administrer les jeux</p>
            <p class="button" routerLink="/join-game">Joindre une partie</p>
        </div>
    </section>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 101</h4>
        <p>
            <span>Kim Desroches</span>, <span>Ghadi Falouh</span>, <span>Kimia Foroudian</span>, <span>Sami Jouamaa Desautels</span>,
            <span>William Wang</span>, <span>Ali Yacoubi</span>
        </p>
    </footer>
</div>
