.container {
    min-height: 100vh;
    height: auto;
    background-image: url('/log2990/20243/equipe-101/LOG2990-101/assets/images/backgrounds/title_page_bgd10.jpg');
    // background: linear-gradient(to right, rgba(153, 0, 255, 0.9), rgba(225, 255, 0, 0));
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-logo {
    margin-top: 5%;
    margin-left: 9%;
    width: 24%;
}

.title-pg-links {
    text-align: left;
    align-self: flex-start;
    margin-left: 12%;
}

.button {
    margin: 0;
    padding: 5% 2% 2% 10%;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 175%;
    font-family: 'papyrus';
    font-weight: bold;
    width: 150%;
    cursor: pointer;

    position: relative;
    display: inline-block;
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s ease;
    z-index: -1;
}

.button:hover::after {
    background: linear-gradient(to right, rgba(222, 207, 129, 0.9), rgba(0, 0, 0, 0));
    border-radius: 5px;
}

.button:hover {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .game-logo {
        align-items: center;
        margin-top: 5%;
        width: 80%;
    }
    .title-page-links {
        align-items: center;
    }
    .button {
        width: 100%;
    }
}
.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: white;
}

.header-item {
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-item {
    text-align: center;
}

.footer-item p {
    color: white;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
