<div class="post-game-lobby">
    <div class="top-container">
        <p class="title">Statistiques de fin de partie</p>
        @if(postGameService.isCTFMode){
            <p class="title">CTF</p>
        }
        @else {
            <p class="title">Partie Classique</p>
        }
        <p class="explanations"> {{ postGameService.explanations }}</p>
    </div>
    <div class="middle-container">
        <div class="left-container">
            <div class="global-stats">
                <p
                class="global-attribute"                 
                (mouseenter)="postGameService.updateExplanationsGlobal('gameDuration')"
                (mouseleave)="postGameService.updateExplanations('')">
                <span class="label">Duree de la partie: </span> 
                <span class="value">{{ postGameService.globalStats.gameDuration }}</span>
                <p
                class="global-attribute"                 
                (mouseenter)="postGameService.updateExplanationsGlobal('turns')"
                (mouseleave)="postGameService.updateExplanations('')">
                <span class="label">Nombre de tours: </span> 
                <span class="value">{{ postGameService.globalStats.turns }}</span>
                <p
                class="global-attribute"                 
                (mouseenter)="postGameService.updateExplanationsGlobal('globalTilesVisited')"
                (mouseleave)="postGameService.updateExplanations('')">
                <span class="label">% de tuiles visitées: </span> 
                <span class="value">{{ postGameService.globalTilesVisitedPct }}%</span>
                <p
                class="global-attribute"                 
                (mouseenter)="postGameService.updateExplanationsGlobal('doorsInteracted')"
                (mouseleave)="postGameService.updateExplanations('')">
                <span class="label">% de portes interagies: </span> 
                <span class="value">{{ postGameService.doorsInteractedPct }}</span>
                @if(postGameService.isCTFMode){
                    <p class="global-attribute"                 
                    (mouseenter)="postGameService.updateExplanationsGlobal('nbFlagBearers')"
                    (mouseleave)="postGameService.updateExplanations('')">
                    <span class="label">Nombre de détenteurs de drapeau: </span> 
                    <span class="value">{{ postGameService.globalStats.nbFlagBearers }}</span>
                }
                <!-- <p>nb tuiles de terrain:  {{ totalTerrainTiles }}</p> 
                <p>nb portes:  {{ totalDoors }}</p>  temp -->
            </div>
            <div class="chat">
                <app-chat-box [isToggleable]="true"></app-chat-box>
            </div>
        </div>
        <div class="right-container">
            <div class="attributes">
                @for(attribute of postGameService.postGameStatTypes; track attribute.id){
                    <app-post-game-attribute
                    [attribute]="postGameService.postGameStatTypes[$index].key"
                    [displayTxt]="postGameService.postGameStatTypes[$index].displayTxt"
                ></app-post-game-attribute>
                }
            </div>
            @for(player of postGameService.players; track player.id){
                <app-player-statistics
                    [player]="player"
                    [selectedAttribute]="postGameService.selectedAttribute"
                ></app-player-statistics>
            }
    </div>
</div>
<div class="bottom-container">
    <button class="quit" (click)="quitPostGameLobby()">Quitter</button>
</div>

