.chat-message {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5%;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-message p {
    margin-right: 0.5rem;
    margin-top: 0.05rem;
}

.chat-message .timestamp {
    color: rgb(167, 167, 167);
}

.chat-message .username {
    color: rgb(220, 204, 113);
    font-weight: bold;
}

.chat-message .message {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
