.game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 67vh;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    box-sizing: border-box;
}

.game {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 25vh;
    width: 50rem;
    margin: 0 0 2% 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1rem 1rem 0 black;
    transform: skewX(-5deg);
}

.selected {
    box-shadow: 1rem 1rem 0 rgba(222, 207, 129, 0.9);
}

.game:hover {
    transition: 0.3s;
    box-shadow: 1rem 1rem 0 rgba(222, 207, 129, 0.9);
}

.game-name {
    font-weight: 900;
    font-size: x-large;
}

.game-description {
    margin-top: 0;
    font-weight: 600;
}

.game-image {
    width: 25vh;
    height: 25vh; 
    margin: 0;
    flex-shrink: 0; 
    display: block; 
}



.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.game-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 600;
}

.properties-icons {
    width: 5%;
    height: 100%;
    position: absolute;
    right: 2%;
    top: 5%;
    display: flex;
    flex-direction: column;
}
.properties-icons img {
    max-width: 90%;
    max-height: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.properties-icons img:hover {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-image: linear-gradient(to left, rgb(85, 88, 44), rgb(255, 249, 144) 30%, rgb(255, 252, 186));
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
