<div class="game-list">
    @for (game of games; track game._id) {
    <div [ngClass]="{ game: true, selected: game.isSelected }" (click)="selectGame(game)">
        <div class="tooltip">
            <div class="tooltiptext">{{ game.description }}</div>
            <img class="game-image" src="{{ game.image }}" alt="test" />
        </div>
        <div class="info-container">
            <p class="game-name">{{ game.name }}</p>
            <div class="game-info">
                <p>{{ game.dimension }} x {{ game.dimension }}</p>
                <p>{{ game.mode }}</p>
                <p>{{ getTrimedDate(game) }}</p>
            </div>
        </div>
        @if(usingPage === "administration-page"){
        <div class="properties-icons">
            @if(game.visible){
            <img src="./assets/images/icones/visible.png" (click)="changeVisibility(game)" alt="visible" />
            }@else {<img src="./assets/images/icones/hidden.png" (click)="changeVisibility(game)" alt="hidden" />}
            <img src="./assets/images/icones/modification.png" alt="modification" (click)="editGame(game)"/>
            <img src="./assets/images/icones/trash.png" (click)="deleteGame(game)" alt="trash" />
            <img src="./assets/images/icones/export.png" alt="trash" />
        </div>
        }
    </div>
    }
</div>
