.image-container {
    position: relative;
    padding: 5%;
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    cursor: pointer;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: none;
    border-bottom: 0.25rem solid black;
    border-right: 0.25rem solid black;
    z-index: 1;
}

.image-container img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(0.25rem);
    border: none;
}

.image-container:hover + .object-description-container {
    opacity: 1;
    display: inline-block;
}

.object-count {
    position: absolute;
    background-color: white;
    border: 2px solid;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    font-family: Papyrus;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 28%;
    font-weight: bold;
    z-index: 2;
}

.object-description {
    font-size: 0.8rem;
    margin: 0.5rem;
}

.object-description-container {
    position: absolute;
    font-family: 'Franklin Gothic Medium';
    transition: opacity 0.3s ease;
    top: 3%;
    right: 110%;
    width: 12rem;
    height: 7rem;
    display: none;
    border-bottom: solid 6px black;
    border-right: solid 6px black;
    border-radius: 0.75rem;
    color: black;
    padding: 10%;
    background: linear-gradient(to left, rgb(138, 135, 93), rgb(194, 185, 134) 25%, rgb(224, 216, 173) 75%, rgb(124, 121, 83) 100%);
    z-index: 10;
}

.object-name {
    font-size: 1rem;
    margin: 0.5rem;
}

.object {
    position: relative;
}

.disabled {
    filter: grayscale(100%) brightness(50%);
    cursor: default;
}

.disabled img:hover {
    transform: none;
    border-bottom: 0.25rem solid black;
    border-right: 0.25rem solid black;
    box-shadow: none;
}

.hidden {
    display: none;
}

.image-container:hover + .hidden-description {
    display: none;
}
