<div class="tools-container">
    <div class="tool">
        <mat-button-toggle id="water-tool" value="assets/images/WaterTile-test.jpg"></mat-button-toggle>
        <label for="water-tool" id="water-tool-description" class="hidden-description-to-show">
            Outil servant à placer une tuile d'eau ayant un côut de mouvement de deux. Placer la tuile avec un clic gauche sur une tuile existante.
        </label>
    </div>
    <div class="tool">
        <mat-button-toggle id="ice-tool" value="assets/images/IceTile-test.jpg"></mat-button-toggle>
        <label for="ice-tool" id="ice-tool-description" class="hidden-description-to-show"
            >Outil servant à placer une tuile de glace ayant un coût de mouvement de zéro. Placer la tuile avec un clic gauche sur une tuile
            existante.
        </label>
    </div>

    <div class="tool">
        <mat-button-toggle id="wall-tool" value="assets/image/WallTile-Test.jpg"></mat-button-toggle>
        <label for="wall-tool" class="hidden-description-to-show" id="wall-tool-description"
            >Outil servant à placer une tuile de mur empêchant le mouvement à travers ce type de tuile. Placer la tuile avec un clic gauche sur une
            tuile existante.
        </label>
    </div>

    <div class="tool">
        <mat-button-toggle id="DoorTile-test.jpg"> <img src="assets/images/DoorTile-test.jpg" /> </mat-button-toggle>
        <label for="door-tool" class="hidden-description-to-show" id="door-tool-description"
            >Outil servant à placer une porte pouvant être ouverte ou fermée. Placer la tuile avec un clic gauche sur une tuile existante. Si vous
            appuyez sur une porte déjà existante, son état s'inversera.
        </label>
    </div>
</div>
