.tools-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 7vh;
    column-gap: 30px;
    align-items: center;
}

.tool {
    margin-left: 35px;
    margin-top: 2px;
    width: 35px;
    position: relative;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.hidden-description-to-show {
    font-family: 'Franklin Gothic Medium';
    display: none;
    bottom: 0.3rem;
    right: 2.25rem;
    border-bottom: solid 6px black;
    border-right: solid 6px black;
    border-radius: 0.75rem;
    color: black;
    padding: 20%;
    background: linear-gradient(to bottom right, rgb(226, 217, 58), rgb(207, 184, 72));
}

#water-tool:hover + #water-tool-description {
    display: inline-block;
    position: absolute;
    width: 400%;
}

#ice-tool:hover + #ice-tool-description {
    display: inline-block;
    position: absolute;
    width: 400%;
}

#wall-tool:hover + #wall-tool-description {
    display: inline-block;
    position: absolute;
    width: 400%;
}

#door-tool:hover + #door-tool-description {
    display: inline-block;
    position: absolute;
    width: 400%;
}
