<!doctype html>
<html lang="en">
    <header>
        <img src="../../../assets/image/Age_Of_Mythology.webp" alt="Logo Projet" />
        <div class="pageTitle">Administration</div>
    </header>

    <body>
        <div id="container">
            <div id="listContainer">
                <div class="title">
                    <p>Liste de jeux</p>
                </div>
                <div class="gameList">
                    @for (game of games; track game.name) {
                    <div class="game" (mouseenter)="getHoveredGame(game)">
                        <img src="{{ game.src }}" />
                        <div class="info-container">
                            <div class="gameName">
                                <p>{{ game.name }}</p>
                            </div>
                            <div class="gameDescription">
                                <p>{{ game.size }}</p>
                                <p>{{ game.mode }}</p>
                                <p>{{ game.date }}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="descriptionContainer">
                <div class="creationButton">
                    <button class="button" routerLink="/edit">Création de jeu</button>
                </div>
                <div id="descriptionCard">
                    <img [src]="HoverGame.src" />
                    <div class="descriptionBox">
                        <p>{{ HoverGame.description }}</p>
                    </div>
                </div>

                <div class="title">
                    <p>Description du jeu</p>
                </div>
                <div class="options">
                    <button disabled routerLink="/gameEdit">Modification de jeu</button>
                    <button disabled>Supprimer jeu</button>
                    <button disabled>Visibilité</button>
                    <button disabled>Exporter</button>
                </div>
            </div>
        </div>

        <footer>
            <button routerLink="/home">Retour</button>
        </footer>
    </body>
</html>
