html {
    background-image: url('/assets/images/backgrounds/title_page_bgd11.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
}

html,
body {
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}

.pageTitle {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200%;
    font-family: 'Papyrus';
}

header img {
    width: 15%;
    height: 30%;
}

.title {
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
    font-family: 'Papyrus';
}

#container {
    display: flex;
}

#listContainer {
    display: grid;
    justify-content: center;
    margin-left: 10%;
}

.gameList {
    justify-content: center;
    height: 60vh;
    width: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.game {
    display: flex;
    border: 1px solid black;
    height: 15vh;
    width: 75vh;
    margin: 0% 2% 4% 4%;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-5deg);
}

.game:hover {
    //border: none;
    transition: 0.3s;
    box-shadow: 6px 6px 0 rgba(222, 207, 129, 0.9);
}

.game p {
    text-align: center;
}

body img {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gameName {
    font-weight: bold;
    margin-left: 10%;
}

.gameDescription {
    display: flex;
}

.gameDescription p {
    margin-right: 30%;
    margin-left: 10%;
    font-weight: bold;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

button {
    margin-right: 5%;
}

.descriptionContainer {
    margin-left: 8%;
    margin-top: 3%;
}

.creationButton {
    text-align: right;
    height: 10%;
}

.button {
    height: 70%;
    width: 30%;
    background-color: rgba(222, 207, 129, 0.9);
}

.button:hover {
    background-color: rgba(222, 207, 129, 0.9);
}

.button:hover {
    background: linear-gradient(to right, rgba(222, 207, 129, 0.9), rgba(0, 0, 0, 0));
    border-radius: 5px;
}

#descriptionCard {
    position: relative;
    justify-content: center;
    height: 35vh;
    width: 35vh;
    background-color: white;
    opacity: 0.8;
    margin-top: 4%;
    margin-left: 14%; //essayer d'alligner de maniere dynamique
}

#descriptionCard p {
    color: white;
}

#descriptionCard img {
    width: 100%;
    height: 100%;
    background-color: black;
}

.descriptionBox {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: black;
    opacity: 0.7;
    color: white;
}

.descriptionBox p {
    margin: 8%;
}

.selected {
    border: 2px solid yellow;
}
