<body class="background">
    <div class="create-game-page">
        <div class="title">Créer une nouvelle partie</div>
        <hr class="line-separator" />
        <app-game-list [usingPage]="'game-list'"> </app-game-list>
        <div class="button-group">
            @if(!isCharacterFormVisible){
            <p class="button" routerLink="/">Retour</p>
            <p class="button" (click)="showCharacterForm()">Créer</p>
            } @if (isCharacterFormVisible) {
            <app-character-creator (closeCharactorCreator)="hideCharacterForm()"></app-character-creator>
            }
        </div>
    </div>
</body>
