<div class="background-image">
    <div class="title">Joindre une partie</div>
    <hr class="line-separator" />
    <div class="page-container">
        <div class="submit-container">
            <p>Entrez le code de la partie</p>
            <div class="input-container">
                <input class="input-box" type="text" placeholder="____" [(ngModel)]="accessCode" maxlength="4" (keyup.enter)="joinGame(accessCode)" />
                <button id="join-game" (click)="joinGame(accessCode)">Joindre</button>
            </div>
            <p class="invalid-code">
                @if(submitForm && errorMessage){
                    {{ errorMessage }}
                }
                @else {
                    <div class="empty">.</div>
                }
            </p>
        </div>
        <button class="button" routerLink="/home">Retour</button>
    </div>
    @if (isCharacterFormVisible) {
    <app-character-creator
        [availableAvatars]="availableAvatars"
        (confirmCharacterSelection)="joinLobby($event)"
        (closeCharacterCreator)="leaveGame(accessCode)"
        (selectCharacter)="selectedAvatar($event)"
    ></app-character-creator>
    }
</div>
