@if(isBotProfileVisible){
    <div class="add-virtual-player-container">
        <div class="close-button" (click)="toggleBotProfileVisibility()">
            &times;
        </div>
        <div class="bot-title">
            <p>Choisissez le profil du joueur virtuel</p>
        </div>
        <div class="bot-options">
            <div class="passive" (click)="addBot()"> 
                <p class="profile-title">Défensif</p>
                <img class="bot-profile-img" draggable="false" src="./assets/images/icones/passive.png" alt="passive-img">
                <div class="profile-description">
                    <p>- Tendance à chercher la bataille et ne tentera jamais de se fuir</p>
                    <p>- Favorise les items qui donne un avantage en attaque et rapidité après les combats</p>
                </div>
            </div>
            <div class="aggressive" (click)="addBot()">
                <p class="profile-title">Agressif</p>
                <img class="bot-profile-img" draggable="false" src="./assets/images/icones/aggressive.png" alt="passive-img">
                <div class="profile-description">
                    <p>- Tendance à fuir d'un combat s'il est blessé</p>
                    <p>- S'engage moins dans les combats et favorise les items donnant un avantage en défense et PV maximal</p>
                </div>
            </div>
        </div>
    </div>
}

<div id="waiting-page" [ngClass]="{ 'disabled': isBotProfileVisible }">
    <div class="disabled-overlay"></div>
    <header>
        @if(chosenGame){
        <h3>Nom de la partie: {{ chosenGame.name }}</h3>
        }
        <h3>Code d'accès: {{ accessCode }}</h3>
        @if(isAdmin){
            <div class="add-bot" (click)="toggleBotProfileVisibility()">
                <p>Ajouter un joueur virtuel</p>
            </div>
        }
    </header>
    <main>
        <div id="players-container">
            @for (player of players; track player.id) {
            <app-lobby-player class="medium" [lobbyPlayer]="players[$index]" [isPlayerAdmin]="isAdmin"></app-lobby-player>
            }
        </div>
    </main>
    <footer>
        @if(!isBotProfileVisible){
        <div id="footer-container">
            <app-chat-box [isToggleable]="false"></app-chat-box>
            <div id="start-container">
                <button
                    id="start"
                    class="big-button"
                    (click)="handleStartGame()"
                    [disabled]="!isAdmin"
                    [ngClass]="{ disabled: !isAdmin}">
                    Lancer une partie
                </button>
                <button 
                    id="quit-button" 
                    (click)="handleExit(accessCode)" 
                    [disabled]="isBotProfileVisible"
                    [ngClass]="{ 'big-button': !isAdmin }"
                >Quitter</button>
            </div>
            <div id="lock-container">
                <div [ngClass]="{ disabled: !isAdmin }">
                    <p class="lock-text">Verrouiller la partie</p>
                    <label class="switch">
                        @if(isMaxPlayersReached()){
                        <div class="tooltiptext">
                            La salle d'attente a atteint le nombre maximum de joueurs. Vous ne pouvez pas déverrouiller la partie.
                        </div>
                        }
                        <input type="checkbox" [(ngModel)]="isLocked" (change)="onLockChange()" [disabled]="isMaxPlayersReached()" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    }
    </footer>
</div>
