<div id="waiting-page">
    <header>
        <h3 *ngIf="chosenGame">{{ chosenGame.name }}</h3>
        <h3>Code d'acces: {{ accessCode }}</h3>
    </header>
    <main>
        <div id="players-container">
            @for (player of players; track player.id;) {
            <app-lobby-player
                [class]="player.size"
                [name]="player.name"
                [imageSrc]="player.avatar"
                [attack]="player.attributes.attack"
                [defense]="player.attributes.defense"
                [health]="player.attributes.health"
                [speed]="player.attributes.speed"
                [isAdmin]="player.isAdmin"
            ></app-lobby-player>
            }
            <!-- <div class="add-bot medium"> temporary html for virtual player
                <p>ajouter un joueur virtuel</p>
                <button class="add-bot-button">+</button>
            </div> -->
        </div>
    </main>
    <footer>
        <div id="footer-container">
            <app-chat-box></app-chat-box>
            <div id="start-container">
                <button id="quit-button" (click)="handleExit()">quitter</button>
                <button id="start">lancer une partie</button>
            </div>
            <div id="lock-container">
                <p>verrouiller la partie</p>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"> </span>
                </label>
            </div>
        </div>
    </footer>
</div>
