#waiting-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(19, 19, 18), rgb(54, 48, 48) 60%, #514c3e);
    color: white;
}

header {
    flex: 0 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-family: papyrus;
    font-weight: 900;
}

header>*{
    margin: 0;
    margin-top: 1.5%;
}

main {
    flex: 0 0 75%;
}

footer {
    flex: 0 0 15%;
}

#players-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 3%;
    gap: 1.5%;            
    margin: 0;
}

app-lobby-player {         
    max-width: 17.5%;
    margin: 0;
}

#footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    
}

#start {
    padding: 8.5% 10% 6.5% 10%;
    margin-bottom: 5%;
    border-radius: 3rem;
    color: black;
    border: 1px solid gray;
    background: linear-gradient(to right, rgb(110, 105, 45), rgba(163, 147, 71, 1) 35%, rgba(222, 207, 129, 1) 65%, rgb(107, 102, 43) 100%);
    font-family: papyrus;
    font-size: 1.2rem;
    font-weight: 900;
}

#start:hover {
    color: white;
    border: 1px solid gray;
    background: linear-gradient(to right, rgb(36, 36, 36), rgb(67, 67, 67) 35%, rgb(96, 96, 96) 65%, rgb(45, 45, 45));
}

#lock {
    width: 20%;
}

.add-bot {
    height: 80%;
    width: 14.5%;
    background: linear-gradient(to bottom, rgba(187, 187, 187, 0.9), rgba(223, 223, 223, 0.9) 33%, rgba(162, 162, 162, 0.9) 67%, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25%;
    color: black;
    text-align: center;
    font-family: papyrus;
    font-weight: 900;
}

.add-bot-button {
    margin-top: -55%;
    height: 10%;
    width: 25%;
    border-radius: 50%;
}

#quit-button {
    color: rgba(222, 207, 129, 1);
    font-size: 0.8rem;
    background: none;
    padding: 1.5% 10%;
    border: 2px solid rgba(222, 207, 129, 1);
    border-radius: 1.8rem;
}

#quit-button:hover {
    background: linear-gradient(to right, rgba(187, 187, 187, 0.9), rgba(223, 223, 223, 0.9) 33%, rgba(162, 162, 162, 0.9) 67%, rgb(116, 116, 116));
    color: black;
    border: 2px solid black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 2.5rem;
    margin-top: -7%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: '';
    height: 2rem;
    width: 2rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    background-image: url('/assets/images/icones/unlocked.png');
    background-size: 110%;
    background-position: center;
}

input:checked + .slider {
    background: linear-gradient(to right, rgb(110, 105, 45), rgba(163, 147, 71, 1) 35%, rgba(222, 207, 129, 1) 65%, rgb(107, 102, 43) 100%);
}

input:checked + .slider:before {
    transform: translateX(3.5rem);
    background-image: url('/assets/images/icones/locked.png');
    background-size: cover;
    background-position: center;
}

.slider {
    box-shadow: 0 0 1px #000;
}

.lock-text {
    margin-top: 0;
}

#lock-container {
    width: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: papyrus;
    font-weight: 900;
}

.chat-icon {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}


app-lobby-player.small {
    height: 25rem;
    flex: 0 0 14.5%; 
}

app-lobby-player.medium {
    height: 27.5rem;
    flex: 0 0 15.5%; 
}

app-lobby-player.big {
    height: 30rem;
    width: 70rem;
    flex: 0 0 16.5%; 
    margin: 0;
}