.tile-player-info {
    background-image: linear-gradient(to top, rgb(91, 76, 76), rgb(62, 54, 54) 50%, rgb(55, 51, 51));
    color: white;
    height: 50.5%;
    width: 20vw;
    padding: 2%;
    z-index: 9999;
    border-radius: 2rem;
    position: absolute;
    top: 15%;
    left: 75.5%;
    display: flex;
    flex-direction: column;
}

.small-image {
    height: 4rem;
    width: 4rem;
    align-self: center;
    border-radius: 1rem;
}

.big-image {
    height: 12rem;
    width: 12rem;
    align-self: center;
    border-radius: 1rem;
}

.small-text {
    margin-top: -0.5rem;
    font-size: 0.7rem;
}

.info {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
}

h2, h5 {
    text-align: center;
}

.close-button {
    margin-top: 0.8rem;
    width: 90%;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    background-image: linear-gradient(to left, rgb(168, 151, 42), rgb(239, 233, 128));
    border: none;
    border-radius: 1rem;
    align-self: center;
    transition: transform 0.2s ease
}

.close-button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to left, rgb(122, 27, 27), rgb(155, 31, 31));
    color: white;
}