<div class="tile-player-info">
    @if(gameTileInfoService.selectedPlayer) {
        <div class="info">
            <h2> {{ gameTileInfoService.selectedPlayer.name }}</h2>
            <p class="small-text">Attributs</p>
            <p class="small-text"> 
                -> PV total: {{ gameTileInfoService.selectedPlayer.attributes.totalHp }} 
                rapidité: {{ gameTileInfoService.selectedPlayer.attributes.speed }}
                attaque: {{ gameTileInfoService.selectedPlayer.attributes.attack }}
                défense: {{ gameTileInfoService.selectedPlayer.attributes.defense }}
            </p>
            <p class="small-text">Bilan de combats (victoires/Évasions/Défaites) </p>
            <p class="small-text">
                -> {{ gameTileInfoService.selectedPlayer.postGameStats.victories }} / 
                {{ gameTileInfoService.selectedPlayer.postGameStats.evasions }} /
                {{ gameTileInfoService.selectedPlayer.postGameStats.defeats }} 
            </p>
            <p class="small-text">Dégats</p>
            <p class="small-text">
                -> Dégats infligés: {{ gameTileInfoService.selectedPlayer.postGameStats.damageDealt }}
                Dégats subis: {{ gameTileInfoService.selectedPlayer.postGameStats.damageTaken }} 
            </p>
            <img class="big-image" [src]="gameTileInfoService.selectedPlayer.avatar?.src" alt="player image"> 
        </div>
    }   
    @else {
        <div class="info">
            <h5> {{ gameTileInfoService.getTile().name}}</h5>
            @for(description of gameTileInfoService.getTile().descriptions; let i = $index; track description){
                <p class="small-text"> - {{ description }}</p>
            }
            <div class="img-container">
                <img [ngClass]="{'big-image': !gameTileInfoService.getItem(), 'small-image': gameTileInfoService.getItem()}"  [src]="gameTileInfoService.getTile().image" alt="tile image"> 
                @if(gameTileInfoService.getItem()){
                    <img class="small-image" [src]="gameTileInfoService.getItem()?.image" alt="item image">
                }
            </div> 
            @if(gameTileInfoService.getItem()){
                <h5> {{ gameTileInfoService.getItem()?.name }}</h5>
                <p class="small-text"> {{ gameTileInfoService.getItem()?.description }}</p>
            }
        </div>
    }
    <button class="close-button" (click)="close()">Fermer</button>
</div>