<div [ngClass]="['player', getPlayerClass()]">
    <div class="motif"></div>
    <div class="player-name">
        @if(isPlayerAdmin) {
        <div class="kick" (click)="kickOutPlayer()">
            @if(lobbyPlayer.status === Status.Bot){
                <img src="./assets/images/icones/kick.png" />
            }
            @else {
                <img src="./assets/images/icones/white-kick.png" />
            }
        </div>
        }
        {{ lobbyPlayer.name }}
        @if(lobbyPlayer.status === Status.Bot){
            <img class="bot-logo" src="./assets/images/icones/dark-bot.png" />
        }
    </div>
    <img class="player-img" [src]="lobbyPlayer.avatar?.src" alt="{{ lobbyPlayer.name }}-avatar" />
    <!-- @if(lobbyPlayer.status === Status.Bot){
        <p class="behavior"> {{ getBehavior() }}</p>
    } -->

    <!-- @if(lobbyPlayer.status === Status.Bot){
        <p>Att: {{ lobbyPlayer.attributes.attack }} Def: {{ lobbyPlayer.attributes.defense }}</p>
        <p>AttDice: {{ lobbyPlayer.attributes.atkDiceMax }} DefDice: {{ lobbyPlayer.attributes.defDiceMax }}</p>
    } -->
    <div class="motif"></div>
</div>
